---
roles:
  split_pe_conf:
    provisioners:
      - type: pe_bootstrap
        answer_file: 'answer_files/pe.conf'

  blank_resolve_conf:
    provisioners:
      - type: shell
        inline: "echo 'nameserver 8.8.8.8' > /etc/resolv.conf"

  agent:
    provisioners:
      - type: pe_agent
        #version: '2016.4.2'
        master_vm: 'split-master'
